#postgresql enviroments variables
POSTGRES_USER=
POSTGRES_PASSWORD=
DB_HOST=
DB_PORT=

#redis enviroments variables
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

# kafka enviroments
KAFKA_BOOTSTRAP_SERVER=
KAFKA_TOPIC_NAME=
KAFKA_CONSUMER_GROUP_NAME=